.DS_Store
doc
AmpliconSeq/.DS_Store
AmpliconSeq/data
AmpliconSeq/doc/figure
AmpliconSeq/doc/Manuscripts
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/Fluidigm_design_plate-layout_Belgica__5866AAP15T1_P01.xls
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/Fluidigm_design_sheet_Belgica_5866AAP15T1.xls
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/*.pdf
AmpliconSeq/markerValidation
AmpliconSeq/results
AmpliconSeq/src
AmpliconSeq/raw/
WGS/.DS_Store
WGS/comparativePipelines
WGS/data
WGS/raw
WGS/results/
WGS/markerDiscovery/.DS_Store
WGS/markerDiscovery/bin
WGS/markerDiscovery/data
WGS/markerDiscovery/doc
WGS/markerDiscovery/markerDiscovery.Rproj
WGS/markerDiscovery/.Rproj.user/*
WGS/markerDiscovery/results
WGS/markerDiscovery/sample.txt
WGS/markerDiscovery/src/.DS_Store
WGS/markerDiscovery/src/bashscripts
WGS/markerDiscovery/src/HDplot
WGS/markerDiscovery/src/Rscripts
.Rproj.user
