.DS_Store
.Rproj.user
doc
AmpliconSeq/.DS_Store
AmpliconSeq/data
AmpliconSeq/doc/ampliconseq_information.ods
AmpliconSeq/doc/figure
AmpliconSeq/doc/Manuscripts
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/Fluidigm_design_plate-layout_Belgica__5866AAP15T1_P01.xls
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/Fluidigm_design_sheet_Belgica_5866AAP15T1.xls
AmpliconSeq/doc/fluidigm_belgica_5866AAP15T1/*.pdf
AmpliconSeq/raw/
AmpliconSeq/results/blast_validation
AmpliconSeq/results/primer_count/.~lock.primer_count_amplicon_sample.ods#
AmpliconSeq/results/primer_count/batch1_primer_counts_R1.txt
AmpliconSeq/results/primer_count/batch2_primer_counts_SE.txt
AmpliconSeq/results/primer_count/primer_count_amplicon_sample.ods
AmpliconSeq/results/rawReads_count/batch1_read_counts_R1.txt
AmpliconSeq/results/rawReads_count/batch1_read_counts_R2.txt
AmpliconSeq/results/rawReads_count/batch2hq_read_counts_SE.txt
AmpliconSeq/results/rawReads_count/batch2lq_read_counts_SE.txt
AmpliconSeq/results/rawReads_count/raw_read_coverage.ods
AmpliconSeq/src
AmpliconSeq/pipeline1_PypeAmplicon/.DS_Store
AmpliconSeq/pipeline1_PypeAmplicon/markerValidation/
AmpliconSeq/pipeline1_PypeAmplicon/src/
AmpliconSeq/pipeline1_PypeAmplicon/results
AmpliconSeq/pipeline1_PypeAmplicon/data/FASTA
AmpliconSeq/pipeline1_PypeAmplicon/data/bedfiles
AmpliconSeq/pipeline1_PypeAmplicon/data/old_reference
AmpliconSeq/pipeline2_simplePipeline/data
AmpliconSeq/pipeline2_simplePipeline/results
AmpliconSeq/pipeline2_simplePipeline/pipeline2_simplePipeline.Rproj
AmpliconSeq/pipeline2_simplePipeline/.DS_Store
AmpliconSeq/pipeline2_simplePipeline/src/HDplot/
WGS/.DS_Store
WGS/comparativePipelines
WGS/data
WGS/raw
WGS/results/
WGS/markerDiscovery/.DS_Store
WGS/markerDiscovery/bin
WGS/markerDiscovery/data
WGS/markerDiscovery/doc
WGS/markerDiscovery/markerDiscovery.Rproj
WGS/markerDiscovery/.Rproj.user/*
WGS/markerDiscovery/results
WGS/markerDiscovery/sample.txt
WGS/markerDiscovery/src/.DS_Store
WGS/markerDiscovery/src/extras
